.hero {
  background-color: #202020;
  width: -webkit-fill-available;
  height: 100vh;
  position: fixed;
  color: white;
}

.searchBar {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 47%;
  left: 50%;
  width: 20rem;
}

.welcomeText {
    grid-column: 1 / 17;
    grid-row: 1 / 3;
}

.welcomeSubText {
    font-weight: 100;
    grid-column: 3 / 17;
    grid-row: 3 / 5;
}

.img {
  border-radius: 10px;
}

.img1 {
  grid-column: 17 / 21;
  grid-row: 1 / 4;
}

.img2 {
  grid-column: 17 / 21;
  grid-row: 4 / 7;
}

.img3 {
  grid-column: 1 / 6;
  grid-row: 10 / 13;
}

.img4 {
  grid-column: 1 / 7;
  grid-row: 13 / 16;
}

.img5 {
  grid-column: 7 / 12;
  grid-row: 13 / 16;
}

@media (min-width: 930px) {
  .welcomeText {
    font-size: 66px;
    grid-row: 1 / 4;
  }

  .welcomeSubText {
    font-size: 20px;
    grid-column: 3 / 12;
    grid-row: 4 / 6;
  }

  .searchBar {
    width: 35rem;
  }

  .img1 {
    grid-column: 17 / 21;
    grid-row: 1 / 4;
  }

  .img2 {
    grid-column: 18 / 21;
    grid-row: 5 / 9;
  }

  .img3 {
    grid-column: 1 / 4;
    grid-row: 8 / 11;
  }

  .img4 {
    grid-column: 1 / 5;
    grid-row: 12 / 16;
  }

  .img5 {
    grid-column: 5 / 9;
    grid-row: 13 / 16;
  }
}
