.container {
  max-width: 1400px;
  padding: 30px 20px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 10px;
  height: 100vh;
}


.flex {
  display: flex;
  gap: 15px;
  align-items: center;
  overflow: auto;
}

.searchBar {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
}

.predictions {
  overflow: auto;
  max-height: 200px;
}